
--
-- PostgreSQL database dump
--

\restrict Ks983D5ab8yOkdaZH8GEeBS42VZ4aihgcquZGy2G0R1l07xJA54KMeUUMUBrqF1

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: translation_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.translation_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    source_text text NOT NULL,
    target_text text NOT NULL,
    source_lang character varying(10) DEFAULT 'en'::character varying NOT NULL,
    target_lang character varying(10) DEFAULT 'zh'::character varying NOT NULL,
    translation_service character varying(50) DEFAULT 'tencent'::character varying NOT NULL,
    user_ip inet,
    user_agent text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.translation_history OWNER TO postgres;

--
-- Data for Name: translation_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: translation_history translation_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.translation_history
    ADD CONSTRAINT translation_history_pkey PRIMARY KEY (id);


--
-- Name: idx_translation_history_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_translation_history_created_at ON public.translation_history USING btree (created_at);


--
-- Name: idx_translation_history_service; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_translation_history_service ON public.translation_history USING btree (translation_service);


--
-- Name: idx_translation_history_source_text; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_translation_history_source_text ON public.translation_history USING btree (source_text);


--
-- PostgreSQL database dump complete
--

\unrestrict Ks983D5ab8yOkdaZH8GEeBS42VZ4aihgcquZGy2G0R1l07xJA54KMeUUMUBrqF1

