
--
-- PostgreSQL database dump
--

\restrict r4VnB18nZ7G1XchcH07thfvzFY17bSQZ0ocBhp607NWfmUF0bLFnKDZ1RM3Rj3d

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: passage_translations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.passage_translations (
    id integer NOT NULL,
    source_text text NOT NULL,
    translated_text text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'active'::character varying,
    CONSTRAINT passage_translations_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'pending'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.passage_translations OWNER TO postgres;

--
-- Name: passage_translations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.passage_translations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.passage_translations_id_seq OWNER TO postgres;

--
-- Name: passage_translations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.passage_translations_id_seq OWNED BY public.passage_translations.id;


--
-- Name: passage_translations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.passage_translations ALTER COLUMN id SET DEFAULT nextval('public.passage_translations_id_seq'::regclass);


--
-- Data for Name: passage_translations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: passage_translations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.passage_translations_id_seq', 39, true);


--
-- Name: passage_translations passage_translations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.passage_translations
    ADD CONSTRAINT passage_translations_pkey PRIMARY KEY (id);


--
-- Name: idx_passage_translations_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_passage_translations_created_at ON public.passage_translations USING btree (created_at DESC);


--
-- Name: idx_passage_translations_source_text_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_passage_translations_source_text_hash ON public.passage_translations USING hash (md5(source_text));


--
-- Name: idx_passage_translations_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_passage_translations_status ON public.passage_translations USING btree (status);


--
-- PostgreSQL database dump complete
--

\unrestrict r4VnB18nZ7G1XchcH07thfvzFY17bSQZ0ocBhp607NWfmUF0bLFnKDZ1RM3Rj3d

