--
-- PostgreSQL database dump
--

\restrict J7f9B8zRjmjd72zlAvd772xeeWlyg2sI3TEPUgSbY0xpNKRwxSCYVJdujufXzgh

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: passage_translations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.passage_translations (
    id integer NOT NULL,
    source_text text NOT NULL,
    translated_text text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'active'::character varying,
    CONSTRAINT passage_translations_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'pending'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.passage_translations OWNER TO postgres;

--
-- Name: passage_translations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.passage_translations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.passage_translations_id_seq OWNER TO postgres;

--
-- Name: passage_translations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.passage_translations_id_seq OWNED BY public.passage_translations.id;


--
-- Name: translation_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.translation_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    source_text text NOT NULL,
    target_text text NOT NULL,
    source_lang character varying(10) DEFAULT 'en'::character varying NOT NULL,
    target_lang character varying(10) DEFAULT 'zh'::character varying NOT NULL,
    translation_service character varying(50) DEFAULT 'tencent'::character varying NOT NULL,
    user_ip inet,
    user_agent text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.translation_history OWNER TO postgres;

--
-- Name: word_translations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.word_translations (
    id integer NOT NULL,
    source_word character varying(100) NOT NULL,
    translated_word character varying(200) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    difficulty_level integer DEFAULT 5,
    phonetic character varying(200),
    part_of_speech character varying(50),
    definition text,
    example_sentence text,
    frequency_rank integer,
    CONSTRAINT word_translations_difficulty_level_check CHECK (((difficulty_level >= 1) AND (difficulty_level <= 10)))
);


ALTER TABLE public.word_translations OWNER TO postgres;

--
-- Name: word_translations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.word_translations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.word_translations_id_seq OWNER TO postgres;

--
-- Name: word_translations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.word_translations_id_seq OWNED BY public.word_translations.id;


--
-- Name: words; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.words (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    word character varying(100) NOT NULL,
    pronunciation character varying(200),
    translation text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    definition text,
    part_of_speech character varying(50),
    difficulty_level integer DEFAULT 1,
    frequency_rank integer,
    example_sentences text[],
    synonyms text[],
    antonyms text[],
    etymology text,
    is_active boolean DEFAULT true,
    CONSTRAINT words_difficulty_level_check CHECK (((difficulty_level >= 1) AND (difficulty_level <= 10)))
);


ALTER TABLE public.words OWNER TO postgres;

--
-- Name: TABLE words; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.words IS '鍗曡瘝缈昏瘧琛?- 绠€鍖栫増锛屽彧瀛樺偍鏍稿績缈昏瘧淇℃伅';


--
-- Name: COLUMN words.word; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.words.word IS '??????';


--
-- Name: COLUMN words.pronunciation; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.words.pronunciation IS '?????????';


--
-- Name: COLUMN words.translation; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.words.translation IS '??????';


--
-- Name: passage_translations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.passage_translations ALTER COLUMN id SET DEFAULT nextval('public.passage_translations_id_seq'::regclass);


--
-- Name: word_translations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.word_translations ALTER COLUMN id SET DEFAULT nextval('public.word_translations_id_seq'::regclass);


--
-- Data for Name: passage_translations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: translation_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: word_translations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.word_translations (id, source_word, translated_word, created_at, updated_at, difficulty_level, phonetic, part_of_speech, definition, example_sentence, frequency_rank) FROM stdin;
\.


--
-- Data for Name: words; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: passage_translations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.passage_translations_id_seq', 25, true);


--
-- Name: word_translations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.word_translations_id_seq', 1, false);


--
-- Name: passage_translations passage_translations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.passage_translations
    ADD CONSTRAINT passage_translations_pkey PRIMARY KEY (id);


--
-- Name: translation_history translation_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.translation_history
    ADD CONSTRAINT translation_history_pkey PRIMARY KEY (id);


--
-- Name: word_translations word_translations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.word_translations
    ADD CONSTRAINT word_translations_pkey PRIMARY KEY (id);


--
-- Name: word_translations word_translations_source_word_translated_word_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.word_translations
    ADD CONSTRAINT word_translations_source_word_translated_word_key UNIQUE (source_word, translated_word);


--
-- Name: words words_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.words
    ADD CONSTRAINT words_pkey PRIMARY KEY (id);


--
-- Name: words words_word_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.words
    ADD CONSTRAINT words_word_key UNIQUE (word);


--
-- Name: idx_passage_translations_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_passage_translations_created_at ON public.passage_translations USING btree (created_at DESC);


--
-- Name: idx_passage_translations_source_text_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_passage_translations_source_text_hash ON public.passage_translations USING hash (md5(source_text));


--
-- Name: idx_passage_translations_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_passage_translations_status ON public.passage_translations USING btree (status);


--
-- Name: idx_translation_history_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_translation_history_created_at ON public.translation_history USING btree (created_at);


--
-- Name: idx_translation_history_service; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_translation_history_service ON public.translation_history USING btree (translation_service);


--
-- Name: idx_translation_history_source_text; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_translation_history_source_text ON public.translation_history USING btree (source_text);


--
-- Name: idx_word_translations_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_word_translations_created_at ON public.word_translations USING btree (created_at DESC);


--
-- Name: idx_word_translations_difficulty_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_word_translations_difficulty_level ON public.word_translations USING btree (difficulty_level);


--
-- Name: idx_word_translations_source_word; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_word_translations_source_word ON public.word_translations USING btree (source_word);


--
-- Name: idx_words_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_words_created_at ON public.words USING btree (created_at);


--
-- Name: idx_words_word; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_words_word ON public.words USING btree (word);


--
-- Name: words update_words_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_words_updated_at BEFORE UPDATE ON public.words FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- PostgreSQL database dump complete
--

\unrestrict J7f9B8zRjmjd72zlAvd772xeeWlyg2sI3TEPUgSbY0xpNKRwxSCYVJdujufXzgh

